<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">
   
      <!-- 게시판 글 작성 -->
   <insert id="insert" parameterType="com.project.vo.BoardVO" useGeneratedKeys="true" keyProperty="bno">
   	<selectKey keyProperty="bno" resultType="int" order="BEFORE">
   		SELECT MP_BOARD_SEQ.NEXTVAL FROM DUAL
   	</selectKey>
	   INSERT INTO MP_BOARD(    BNO 
	   					      , TITLE 
	   					      , CONTENT 
	   					      , WRITER
	   					      , DELETED
  )
	                 VALUES(    #{bno}
	                 		  , #{title}
	                 		  , #{content}
	                 		  , #{writer}  
	                 		  , 'N'

 )
   
   </insert>
   
 <select id="listPage" resultType="com.project.vo.BoardVO" parameterType="com.project.vo.SearchCriteria">
		SELECT  RNUM,
				BNO, 
		        TITLE, 
		        CONTENT,
		        WRITER, 
		        REGDATE,
		        HIT,
		        EDITDATE,
		        EDITOR,
		        DELETED,
		        USERNAME
		 FROM ( 
		        SELECT B.BNO, 
		               B.TITLE, 
		               B.CONTENT, 
		               B.WRITER, 
		               B.REGDATE,
		               B.HIT,
		               B.EDITDATE,
		               B.EDITOR,
		               B.DELETED,
		               M.USERNAME,
		               ROW_NUMBER() OVER(ORDER BY BNO ASC) AS RNUM
		         FROM MP_BOARD B,
		         	  MP_MEMBER M
		          
		         WHERE DELETED = 'N'
		         AND B.WRITER = M.USERID
		         	<include refid="search"></include>
		                       ) MP
		WHERE RNUM BETWEEN #{rowEnd} AND #{rowStart} 

		ORDER BY BNO DESC
	</select>
	

	<select id="listCount" parameterType="com.project.vo.SearchCriteria" resultType="int">
		SELECT COUNT(BNO)
		   FROM MP_BOARD B,
		   		MP_MEMBER M
		   WHERE BNO > 0 
		   AND B.WRITER = M.USERID
		<include refid="search"></include>	
		   AND DELETED = 'N'
	</select>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">AND TITLE LIKE '%' || #{keyword, jdbcType=VARCHAR} || '%'</if>
			<if test="searchType == 'w'.toString()">AND USERNAME LIKE '%' || #{keyword, jdbcType=VARCHAR} || '%'</if>
			<if test="searchType == 'tw'.toString()">AND (TITLE LIKE '%' || #{keyword, jdbcType=VARCHAR} || '%') and (USERNAME LIKE '%' || #{keyword, jdbcType=VARCHAR} || '%')</if>
		</if>
	</sql>
	
	<select id="rStart" parameterType="com.project.vo.SearchCriteria" resultType="int">
	SELECT COUNT(*)
	FROM MP_BOARD
	WHERE DELETED = 'N'
	</select>
	
	<select id="read" parameterType="int" resultType="com.project.vo.BoardVO">
		SELECT	B.BNO
			  , B.TITLE
			  , B.CONTENT
			  , B.WRITER
			  , B.REGDATE
			  , B.EDITDATE
			  , B.EDITOR
			  , B.DELETED
			  , M.USERNAME
		 FROM MP_BOARD B,
		 	  MP_MEMBER M
		 WHERE BNO = #{bno}
		 AND B.WRITER = M.USERID
	</select>
	
	    <update id="update" parameterType="com.project.vo.BoardVO">
		UPDATE MP_BOARD
		   SET TITLE    =   #{title},
		   	   CONTENT  =   #{content},
		   	   EDITDATE =	sysdate,
		   	   EDITOR	=	#{editor}
		 WHERE BNO = #{bno} 
	</update>
	
	<update id="delete" parameterType="String">
		UPDATE MP_BOARD 
			SET DELETED = 'Y' 
		WHERE BNO = #{bno}
	</update>

	<!-- 게시판 조회수 -->
    <update id="boardHit" parameterType="int">
    	UPDATE MP_BOARD SET
    	HIT = HIT+1
    	WHERE BNO = #{bno}
    </update>
    
  <!-- 회원탈퇴 + 게시물 삭제 -->
	<delete id="boardDelete"> 
       DELETE FROM 
          MP_BOARD 
       WHERE 
          WRITER = #{userId} 
    </delete> 
    
    <!-- 파일첨부 -->
    <insert id="insertFile" parameterType="hashMap">
		INSERT INTO MP_FILE(
			FILE_NO,
			BNO,
			OGN_FILE_NAME,
			STORED_FILE_NAME,
			FILE_SIZE,
			FILELOC
		)VALUES(
			SEQ_MP_FILE_NO.NEXTVAL,
			#{BNO},
			#{OGN_FILE_NAME},
			#{STORED_FILE_NAME},
			#{FILE_SIZE},
			#{FILELOC}
		)
    </insert>
	
	<!-- 첨부파일 조회 -->
	<select id="selectFileList" parameterType="int" resultType="hashMap">
		SELECT FILE_NO,
			   OGN_FILE_NAME,
			   ROUND(FILE_SIZE/1024,1) AS FILE_SIZE
		  FROM MP_FILE
		 WHERE BNO = #{BNO}
		   AND DELETED = 'N'
	</select>
	
	<!-- 첨부파일 다운 -->
	<select id="selectFileInfo" parameterType="hashMap" resultType="hashMap">
		SELECT 
			STORED_FILE_NAME,
			OGN_FILE_NAME
		FROM MP_FILE
		WHERE FILE_NO = #{FILE_NO}
	</select>
</mapper>